body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template: 1fr 600px 1fr / 1fr 600px 1fr;

    background-color: #c52222;
}

div {
    grid-area: 2/2/2/2;
    display: grid;
    grid-template-columns: repeat( 30,1fr);
    grid-template-rows: repeat( 30,1fr); 

}

.box {
    background-color: rgba(255,255,255,0.4 );
    backdrop-filter: blur( 10px );
    width: 75%;
    height: 75%;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.2);
}