body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template: 100px 150px 140px 50px 150px / 1fr 500px 1fr;
    background-image: url( 'StarfieldSimulation.gif' );
    background-size: cover;
    
}

div {
    grid-area: 3/2/3/2;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    color: #fff;
    font-family: 'Orbitron';
    font-size: 80px;
    letter-spacing: 5px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
button {
    grid-area: 4/2/4/2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Orbitron';
    font-size: large;
    letter-spacing: 5px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flash;
      animation-duration: 5s;
      animation-iteration-count: infinite;
}
.snake {
  border-radius: 200px;

  grid-column: 2;
  grid-row: 2/6;
  background-image: url('snakeMouth.png');
  background-size: cover;
}